/* PARTICLES BACKGROUND */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: #ffe600; /* dark blue background */

  z-index: 0;
}

/* CENTER YOUR BOX */
body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* YOUR UI BOX */
.box {
  pointer-events: auto; /* Allow interaction with the box */
  background: transparent;
  padding: 30px;
  border: 4px solid black;
  width: 350px;
  text-align: center;

  box-shadow: 8px 8px 0 black;

  position: relative;
  z-index: 1;
}

/* Keep your UI above */
.box {
  position: relative;
  z-index: 1;
}


h1 {
  font-size: 24px;
  margin: auto;
}

input {
  width: 90%;
  padding: 12px;
  margin:auto;
  margin-bottom:auto;
  border: 3px solid black(153, 14, 14, 0.501);
  font-size: 14px;
}

button {
  background: #ff3b3b;
  color: white;
  padding: 12px 20px;
  border: 3px solid black;
  font-size: 14px;
  cursor: pointer;

  box-shadow: 4px 4px 0px black;
}

/* Button press effect */
button:active {
  transform: translate(4px, 4px);
  box-shadow: none;
}

#result {
  margin-top: 15px;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: underline;
}